*
 margin:0
 padding:0

#editor_1
  margin-right: 20px

.translation
  width: 400px
  height: 300px
  float: left
  font-family: calibri

#texts
  width:900px;

#main-menu
  background: black
  list-style-type: none
  height: 30px
  padding-top: 10px

#main-menu li
  color:white
  display: inline
  margin-left: 10px
  cursor: pointer


.cnt-translation
  width: 600px
  height:650px
  float: left


.cnt-document
  width: 1024px
  height:700px


.delete-btn
    color:red
    font-family:sans-serif

.save-btn
    color: blue
    font-family:sans-serif

.close-btn
    color: red
    font-family: sans-serif

.lang-sel
.etq
.clickable
    cursor:pointer
